

:root{
  --main_clr: #007bff;
  --back_clr: #eee;
  --text_clr: #8390A2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: poppins, sans-serif;
}
body{
  background-color:#f2f2f2;
  font-family:  poppins;
}

.sidebar{
  width: 345px;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--main_clr);
}


.sidebar_logo{
  /* height: 90px; */
 
  margin-bottom: 30px;
  padding: 1.4rem 0rem 1rem 2.5rem;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.logo_cont{
  display: flex;
}
.sidebar_logo h2{
  padding-top: 5px;
  display: inline-block;
  padding-right: 1rem;

}



.sidebar_menu li{
  width: 100%;
  /* border-radius: 20px; */
  padding: 10px;
  padding-left: 2rem;
  margin-bottom: 1.3rem;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar_menu li:hover {
  border: 1px solid white;
}

.sidebar_menu a{
  color: #fff;
  display: block;
  font-size: 1.1rem; 
}

.sidebar_menu a span{
  font-size: 1.3rem;
  padding-right: 1rem;
}


/* <-----------------------sidebar end-----------------------> */

.main_container{
  margin-left: 345px;
  /* border: 1px solid red; */
  
}

header{
  display: flex;
  justify-content: space-between;
  padding: 1.02rem;
  border-bottom: 2px solid #eee;
  background-color: white;
}

.menu_box{
  display: flex;
  gap: 10px;
}

.menu_box img{
  margin-top: 0.5rem;
  display: inline-block;
}
.menu_box h2{
  display: inline-block;
  padding-top: 0.3rem;
  font-weight: 600;
  
}

.user_wrapper{
  display: flex;
  gap: 10px;
}


.user_wrapper h4{
  color: #007bff;
}

/* ------------------HEADER END-------------------------- */



/* -------------------------------- */
main{

  /* border: 1px solid greenyellow; */
  background-color: #f0f0f0;
  min-height: calc(100vh - 0.5rem);
 

}
/* CARDS */
.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  /* background-color: aqua; */
  padding: 2rem;
}

.card{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
}
.cards :hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card :hover{
box-shadow: none !important;
}


.card span{
  color: var(--text_clr);
  font-weight: 500;
  font-size: large;
}

.ico_card{
  margin-top: 8px;
}



.grid1{
  padding: 0 2rem 0 2rem;

}

/* END */
.box{
  background-color:#fff ;
  border-radius: 5px;

}

.box_header,
.box_body{
  padding: 1rem;
}

.box_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #f0f0f0;
}
.box_header button{
  background: #007bff;
  border-radius: 10px;
  color: #fff;
  font-size: .8rem;
  padding: 0.5rem 1rem;
  border: 1px solid #007bff;
}
/* TABLE STARTS HERE */
table {
  border-collapse: collapse;
  width: 100%; /* Make the table take up 100% of its container */
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

td {
  padding: 1rem;
  font-size: 0.9rem;
  color: #222;
 
}

thead td {
  font-weight: 700;
}



/* Add the following styles to make the table responsive */
.table-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; /* Adjust as needed for spacing between rows */
}
td button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  width: 100px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px 0;
}
button{
  width: 100px;
}

button:hover {
  background-color: #c00404;
}
tbody tr:nth-child(even) {
  background-color: #f5f5f5; /* Adjust the color as needed */
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Adjust the color as needed */
}

/* Add the following styles for better hover effect on table rows */
tbody tr:hover {
  background-color: #e0e0e0; /* Adjust the hover color as needed */
}

/* here ends the table */

label {
  margin-bottom: 8px;
  color: #555;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



/* <--------------------------------------------> */
/* add train form */
.formbox{
  width:fit-content;
  margin-left: 2rem;
  background-color: white;
  display:flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  height: 100%;
  border-radius: 5px;
  /* border: 2px solid black; */

}
.addtrain{
   width:100%;
  
   /* border: 2px solid red; */
  padding: 5px 20px;
  
  

}
.trainform{
 
  width: 100%;
  gap:20px;
  /* border: 2px solid yellow; */
}
.form-row{
  display: flex;
 flex-direction: column;
 width: 300px;
}

.form-row2 button{
  border-radius: 5px;
  background-color:#007bff;
  border: none;
  outline: none;
  color: white;
  padding: 5px;
  font-size: 20px;
  margin-left: 200px;
  margin-bottom: 40px;  
}
.form-row2 button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.inpu{
  display: flex;
  gap: 10px;
 
}
.form-row1{
  display: flex;
 flex-direction: column;
 
 width: 300px;
}
.form-row2{
  display: flex;
 flex-direction: column;
 width: 300px;
}
